{
  "git": {
    "url": "https://gitlab",
    "access_token": "",
    "default_branch": "master"
  },
  "project": {
    "group_id": "123",
    "excluded": {
      "archived": ["True"],
      "namespace": ["company/components"]
    }
    "included": {
      "archived": ["False"],
      "namespace": ["company/modules"]
    }
  },
  "providers": ["name", "archived", "namespace", "url", "ssh"],
  "management": {
    "directory": "/path"
  }
}