{
  "git": {
    "url": "https://gitlab",
    "access_token": "",
    "default_branch": "master"
  },
  "project": {
    "group_id": "123",
    "excluded": {
      "archived": ["True"],
      "namespace": ["company/components"]
    }
    "included": {
      "archived": ["False"],
      "namespace": ["company/modules"]
    }
  },
  "providers": {
    "ui": ["name", "archived", "namespace", "url", "ssh"],
    "loader":  ["name", "namespace", "url"]
  },
  "management": {
    "directory": "/path"
  },
  "search": {
    "excluded": [".git"]
  }
}