<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col col-2">
        <input type="text" [(ngModel)]="selectedNamespace" class="form-control" id="namespaceInput"
          placeholder="Selected namespace" disabled="true">
      </div>
      <div class="col">
        <app-namespace></app-namespace>
      </div>
      <div class="col">
        <app-projects-actions></app-projects-actions>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      @for (header of headers; track header) {
      <div class="col">
        <input type="text" id="filterInput" class="form-control" (change)="onFilterChange(header, $event)"
          [placeholder]="header">
      </div>
      }
    </div>
    @if(projects.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th class="column-selection">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [checked]="true" (change)="onSelectAll($event)" id="flexCheckDefault">
            </div>
          </th>
          @for (header of headers; track header) {
          <th scope="col">{{header}}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (project of (projects | visible); track project['id']) {
        <tr>
          <td class="column-selection">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [checked]="project.selected" (change)="onSelect($event, project)" id="flexCheckDefault">
            </div>
          </td>
          @for (characteristic of project.characteristics; track characteristic.name){
          <td>{{characteristic.value}}</td>
          }
        </tr>
        }
      </tbody>
    </table>
    } @else {
      <span>Select namespace</span>
    }
  </div>
</div>
