<app-error-status></app-error-status>
<app-progress-bar></app-progress-bar>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col col-2">
        <input type="text" [(ngModel)]="selectedNamespace" class="form-control" id="namespaceInput"
          placeholder="Selected namespace" disabled="true">
      </div>
      <div class="col">
        <div class="margin-for-each">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select namespace
          </button>
          <ul class="dropdown-menu">
            @for (namespace of namespaces; track namespace) {
            <li><a class="dropdown-item" (click)="onSelectNamespace(namespace)">{{namespace}}</a></li>
            }
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addNamespaceModal">Add</a></li>
          </ul>
          <button type="button" class="btn btn-dark" (click)="onDelete()"
            [disabled]="loading || !selectedNamespace">Delete</button>
        </div>
      </div>

      <div class="col">
        <div class="float-right margin-for-each">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            [disabled]="loading || !filteredProjects.length">
            Git actions
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [class]="{'disabled': loading || !filteredProjects.length }"
                (click)="onClone()">Clone</a></li>
            <li><a class="dropdown-item" [class]="{'disabled': loading || !filteredProjects.length }"
                (click)="onPull()">Pull</a></li>
            <li><a class="dropdown-item" [class]="{'disabled': loading || !filteredProjects.length }"
                (click)="onStatus()">Status</a></li>
          </ul>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#searchModal"
            [disabled]="loading || !filteredProjects.length">Search</button>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#searchResultsModal"
            [disabled]="loading || !containsSearchResults">Search results</button>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#bumpDependencyModal"
            [disabled]="loading || !filteredProjects.length">Bump Dependency</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      @for (header of headers; track header) {
      <div class="col">
        <input type="text" id="filterInput" class="form-control" (change)="onFilterChange(header, $event)"
          [placeholder]="header">
      </div>
      }
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="row">#</th>
          @for (header of headers; track header) {
          <th scope="col">{{header}}</th>
          }
          <th scope="row"></th>
        </tr>
      </thead>
      <tbody>
        @for (project of filteredProjects; track project['id']; let idx = $index) {
        <tr>
          <th scope="row">{{idx}}</th>
          @for (characteristic of project.characteristics; track characteristic.name){
          <td>{{characteristic.value}}</td>
          }
          <td>
            <div class="float-right margin-for-each">
              <button type="button" class="btn btn-dark" (click)="projectId = project.id; onPull()" [disabled]="loading">Pull</button>
              <button type="button" class="btn btn-dark" (click)="projectId = project.id; onClone()"[disabled]="loading">Clone</button>
              <button type="button" class="btn btn-dark" (click)="projectId = project.id; onStatus()" [disabled]="loading">Status</button>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#bumpDependencyModal"
                (click)="projectId = project.id" [disabled]="loading">Bump dependency</button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<app-maven [name]="'bumpDependencyModal'" [namespace]="selectedNamespace" (bumpDependencyFired)="onBumpDependency($event)"></app-maven>
<app-search [name]="'searchModal'" [namespace]="selectedNamespace" [projects]="filteredProjectsIds"></app-search>
<app-search-results [name]="'searchResultsModal'" [namespace]="selectedNamespace" (containsResults)="onContainsResults($event)"></app-search-results>
<app-add-namespace [name]="'addNamespaceModal'"></app-add-namespace>