.margin-for-each>* {
    margin-right: 8px;
}

.margin-left {
    margin-left: 8px;
}

.float-right {
    float: right;
}

.search-form>* {
    margin-bottom: 16px;
}

.dark {
    background-color: #212529;
}

.square {
    border-radius: 0;
}

.active {
  background-color: #212529;
  border-color: #212529;

}

.form-check-input:checked {
  background-color: #212529;
  border-color: #212529;
}